<%= link_to "Ask us a question", ask_path %>


<h1> Hello from Answer </h1>

<div class='question'>
  <p>You said:</p>
  <%= @question %>
</div>

<div class='coachAnswer'>
  <p>The coach thinks:</p>
  <p> <%= @answer%></p>
</div>
