<h1> Hello from Ask </h1>
<p> <%= @sini  %></p>

<h2> Ask your coach anything</h2>

<form action="/answer" method="get">
  <input type="text" name="ask">
  <input id='submit' type="submit" value="Ask!">
</form>

<%  %>
<!-- er -->
<%=  %>
<!-- pe -->
